# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/

# Native builds
ios/
android/
*.native.js

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# IDE
.vscode/
.idea/

# Testing
coverage/
*.lcov

# Logs
logs
*.log

# Cache
.cache/
*.cache
.temp/
.tmp/